@charset "UTF-8";

/*ESTILOS DE LA BARRA DE NAVEGACIÓN*/
html, body{ 
    margin: 0; 
} 

.bg-primary {
    background-color: #2596ff !important;
}

.formularioContainer{
	background-color: #e1f4ff;
	border: 0px !important;
}

.navbar {
    position: relative;
    display: flex;
}

.navbar-brand img{
    width: 160px;
    height: 80px;
}

.navbar-text{
    color: white !important;
    font-size: 2em;
}

.navbar-text{
    width: 100%;
}

/*RESTO DE ESTILOS*/
body{
    font-size: 1.2em;
    font-family:sans-serif;
}


/*ESTILOS DEL PIE DE PÁGINA*/
footer {
    text-align: justify;
    text-justify: inter-word;
}

.save{
	background-color: #2596ff;
    border-radius: 12px;
    text-align: center;
    width: 50%;
    padding: 0;
    border: none;
    margin-right: 0px;
    float: right;
    clear: both;
    color: white !important;
}

.save:hover{
    background-color: #145592 ;
}

.todo{
    float: none;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #e1f4ff;
    border: 1px solid #6ac8ff;
}

.titulo{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 50px !important;
}

.formularioContainer{
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.inputTexto{
    margin-top: 0px;
    width: 100%;
    border-radius: 5px;
}

.lblTexto{
    margin-bottom: 0px;
    position: relative;
    margin-left: 0px;
}

.error{
	font-size:0.8em !important;
	text-align: center;
	margin-top: 10px;
  	clear:both;
  	border: 1px solid red;
  	padding:5px;
  	padding-bottom: 7px;
	color: #C02C11;
}