@charset "ISO-8859-1";

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    background-size: 30px 30px;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
    background-size: 47px 30px;
}